@import '../utilities/variables';

body {
  font-family: 'Poppins', sans-serif;
  color: $gray-dark;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.amount-text {
  font-family: 'Inter', monospace;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  transition: $transition-base;
}

.padding {
  padding: 40px 112px;
  width: 100%;
  box-sizing: border-box;
}

.maxWidth {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .padding {
    padding: 27px 16px;
  }
}
