.wrapper {
  color: #ffffff;

  .main {
    min-height: calc((100vh - 80px) - 100px);
    padding: 40px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text__lead,
  .text__sub {
    font-size: 28px;
    line-height: 1.5;
    color: #222;
    font-weight: 400;
    margin: 40px 0;
    color: #ffffff;
  }
  .text__sub {
    font-size: 24px;
    font-weight: 300;
  }
}
.page__btns {
  display: flex;

  .btn {
    padding: 0 80px;
    line-height: 53px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    line-height: 48px;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;
  }

  .btn__primary {
    background: #ffffff;
    color: #1e87f0;

    &:hover {
      box-shadow: 0 10px 40px #1e87f0;
    }
  }

  .btn__secondary {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #e5e5e5;
    border-color: rgba(255, 255, 255, 0.6);

    &:hover {
      border-color: #ffffff;
      color: #ffffff;
    }
  }
}

.footer {
  padding: 40px 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;

  .link {
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255);
    }
  }
}
